/* FIX IE */

.anim .transit-fade,
.anim .transit-left,
.anim .transit-right,
.anim .transit-top,
.anim .transit-bottom,
.anim .transit-bouncein,
.anim .transit-flip,
.anim .transit-rotate {
	opacity: 1;
}

.blog-caption,
.port-caption,
.gallery-caption  {
	transform: scale(1,1);
	opacity: 0;
}

.blog-thumb:hover .blog-caption,
.port-item:hover .port-caption,
.gallery-box:hover .gallery-caption {
	opacity: 1;
}
	
.mbYTP_wrapper iframe {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
}

.owl-item {
	position: relative;
}